.footer__contacts {
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: $phoneWidth) {
    .footer__contacts {
        margin: 0 auto;
    }
    .contacts__telephone {
        width: 150px;
        p {
            width: 150px;
        }
    }
}