.search__button {
    position: relative;
    width: 45px;
    height: 45px;
    
    padding: 0;

    background-color: rgba(255, 255, 255, 1);
    border-radius: 0 5px 5px 0;

    border: none;
    outline: none;
}

@media screen and (max-width: $smDesktopWidth) {
    .search__button {
        border-radius: 5px;
    }
}