.slider-pt {
    padding: 0 20px;
    /* Слайдер */
    .slick-slider {}
    /* Слайдер запущен */
    .slick-slider.slick-initialized {}
    /* Слайдер с точками */
    .slick-slider.slick-dotted {}
    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track {
        display: flex;
    }
    /* Слайд */
    .slick-slide {}
    /* Слайд активный (показывается) */
    .slick-slide.slick-active {}
    /* Слайд основной */
    .slick-slide.slick-current {}
    /* Слайд по центру */
    .slick-slide.slick-center {}
    /* Клонированный слайд */
    .slick-slide.slick-cloned {}
    /* Стрелка */
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        width: 12px;
        height: 20px;
        border: none;
        background-color: inherit;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev {
        left: 0;
        background-image: url("/assets/svg/arrow_back_blue.svg");
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
        right: 0;
        background-image: url("/assets/svg/arrow_next_blue.svg");
    }
    /* Стрелка не активная */
    .slick-arrow.slick-disabled {}
    /* Точки (булиты) */
    .slick-dots {}
    .slick-dots li {}
    /* Активная точка */
    .slick-dots li.slick-active {}
    /* Элемент точки */
    .slick-dots li button {}
}