.join__button {
    padding: 15px 20px;
    background: linear-gradient(358.15deg, #465EA8 0.52%, #3655B5 97.4%);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.join__button:hover {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    background: linear-gradient(358.15deg, #3a4e8a 0.52%, #2b448f 97.4%);
}

.join__button:active {
    background: linear-gradient(358.15deg, #324479 0.52%, #243977 97.4%);
}

@media screen and (max-width: $tableWidth) {
    .join__button {
        padding: 8px 14px;
    }
}