.join__button {
    padding: 15px 20px;
    
    background: linear-gradient(358.15deg, #465EA8 0.52%, #3655B5 97.4%);
    border-radius: 5px;
    border: none;
    outline: none;
}

@media screen and (max-width: $tableWidth) {
    .join__button {
        padding: 8px 14px;
    }
}
