.row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@import "./_size/row_size_large.scss";
@import "./_size/row_size_medium.scss";
@import "./_size/row_size_mobile-menu.scss";
@import "./_padding/row_padding_bottom.scss";
@import "./_padding/row_padding_top.scss";
@import "./_wrap/row_wrap.scss";