.icon_contacts {
    width: 12px;
    height: 12px;
}

.icon_contacts_telephone {
    background-image: url("/assets/svg/telephone.svg");
}

.icon_contacts_mail {
    background-image: url("/assets/svg/mail.svg");
}