.advantages__envelope {
    flex-direction: column;
    background-image: url("../../../assets/svg/envelope.svg");
    background-position: 50% -50%;
    background-repeat: no-repeat;
    background-size: cover;
}
