.advantages__item {
    padding-bottom: 40px;
    padding-left: 60px;
    width: 30%;
}

@media screen and (max-width: $desktopWidth) {
    .advantages__item {}
}

@media screen and (max-width: $smDesktopWidth) {
    .advantages__item {
        padding-top: 70px;
        margin: 0 40px;
        width: 100%;
    }
}

@media screen and (max-width: $tableWidth) {
    .advantages__item {
        padding-top: 0;
        padding-bottom: 10px;
        padding-right: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: $phoneWidth) {
    .advantages__item {
        padding: 0;
        margin: 0 45px;
    }
}