.advantages__item {
    padding-bottom: 70px;
    padding-left: 50px;
    width: 30%;
}

@media screen and (max-width: $desktopWidth) {
    .advantages__item {}
}

@media screen and (max-width: $smDesktopWidth) {
    .advantages__item {
        min-width: 300px;
        padding-top: 70px;
        padding-right: 50px;
    }
}

@media screen and (max-width: $tableWidth) {
    .advantages__item {
        padding-top: 0;
        padding-bottom: 10px;
        margin: 0 auto;
    }
}

@media screen and (max-width: $phoneWidth) {
    .advantages__item {
        min-width: 200px;
        padding: 0;
        margin: 0 auto;
    }
}