.footer {
    padding-bottom: 20px;
}

.about-us {
    width: 60%;
}

.about-us__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include reset-list;
}

.about-us__item {
    width: 40%;
    padding-left: 20px;
}

.about-us__item:nth-child(2n + 1) {
    padding-left: 100px;
}

.about-us__link {
    display: block;

    @include link-fonts;
}

.footer-contacts {

}

.footer-contacts__media {

}

.media__text {

}

.footer-contacts__telephone {

}

.telephone__icon {

}

.telephone__value {

}

.footer-contacts__mail {

}

.mail__icon {

}

.mail__value {

}
