// CSS
@import "./logo/logo.scss";
@import "./about-us/about-us.scss";
@import "./search/search.scss";
@import "./site-navigation/site-navigation.scss";
@import "./partners/partners.scss";
@import "./advantages/advantages.scss";
@import "./contacts/contacts.scss";
@import "./join/join.scss";
@import "./header-contacts/header-contacts.scss";
@import "./news/news.scss";

@import "./header/header";
@import "./main/main"; 
@import "./footer/footer";
