.site-navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: $tableWidth) {
    .site-navigation__list {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 100px;
        padding-left: 30px;
    }
}

@media screen and (max-width: $tableWidth ) {
    .site-navigation__list {
        padding-left: 20px;
    }
}
