.row_size_large {
    margin: 0 auto;
    width: $row-xl;
    transition: .2s;
}

@media screen and (max-width: $desktopWidth) {
    .row_size_large {
        width: $row-ls;
    }
}

@media screen and (max-width: $smDesktopWidth) {
    .row_size_large {
        width: $row-md;
    }
}

@media screen and (max-width: $tableWidth) {
    .row_size_large {
        width: $row-sm;
    }
}

@media screen and (max-width: $phoneWidth) {
    .row_size_large {
        width: $row-vsm;
    }
}