.advantages__title {
    margin-bottom: 150px;
    transition: 0.3s;
}

@media screen and (max-width: $desktopWidth) {
    .advantages__title {
        margin-bottom: 85px;
    }
}

@media screen and (max-width: $smDesktopWidth) {
    .advantages__title {
        
    }
}

@media screen and (max-width: $tableWidth ) {
    .advantages__title {
        margin-bottom: 65px;
    }
}

@media screen and (max-width: $phoneWidth) {
    .advantages__title {
        margin-bottom: 50px;
    }
}