.search__input {
    padding: 15px 0;
    padding-left: 20px;
    width: 290px;
    height: 45px;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
}

@media screen and (max-width: $smDesktopWidth) {
    .search__input {
        width: 0;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: $tableWidth) {
    .search__input {
        padding: 15px 0;
        padding-left: 20px;
        width: 100%;
        height: 30px;
        display: block;
        transition: none;
    }
}

@import "./_open/search__input_open.scss";