.slider-adv {
    padding: 0 50px;
    /* Слайдер */
    .slick-slider {}
    /* Слайдер запущен */
    .slick-slider.slick-initialized {}
    /* Слайдер с точками */
    .slick-slider.slick-dotted {}
    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track {
        display: flex;
    }
    /* Слайд */
    .slick-slide {}
    /* Слайд активный (показывается) */
    .slick-slide.slick-active {}
    /* Слайд основной */
    .slick-slide.slick-current {}
    /* Слайд по центру */
    .slick-slide.slick-center {}
    /* Клонированный слайд */
    .slick-slide.slick-cloned {}
    /* Стрелка */
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 2px;
        background-color: #ffffff;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        box-shadow: 1px 1px 2px 1px rgba($color: #000000, $alpha: .09);
        cursor: pointer;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev {
        left: 10px;
        background-image: url("/assets/svg/arrow_back_blue.svg");
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
        right: 10px;
        background-image: url("/assets/svg/arrow_next_blue.svg");
    }
    /* Стрелка не активная */
    .slick-arrow.slick-disabled {}
    /* Точки (булиты) */
    .slick-dots {}
    .slick-dots li {}
    /* Активная точка */
    .slick-dots li.slick-active {}
    /* Элемент точки */
    .slick-dots li button {}
}

@media screen and (max-width: $desktopWidth) {}

@media screen and (max-width: $smDesktopWidth) {}

@media screen and (max-width: $tableWidth) {
    .slider-adv {
        .slick-arrow {
            position: absolute;
            top: 35%;
        }
    }
}

@media screen and (max-width: $phoneWidth) {
    .slider-adv {
        padding: 0 10px;
    }
}