@import './fonts.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}


img {
    width: 100%;
}

.page {
    position: relative;

    margin: 0;
    padding: 0;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #415276;
}

.page_blackout::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;

    background-color: rgba($color: #000000, $alpha: 0.3);
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

    margin: 0 auto;
    padding: 0 80px;
    max-width: 1440px;
}

.simplebar-scrollbar::before {
    background-color: #415276;
}

.partners__list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.partners__list::-webkit-scrollbar-track {
    background-color: #F2F6FC;
    border-radius: 5px;
}

.partners__list::-webkit-scrollbar-thumb {
    background: url("../../assets/png/scrollbar.png");
    background-repeat: no-repeat;
    background-position: center;
}

