.footer {
    background-color: #F7FAFE;
}

.contacts__telephone {
    position: relative;
    display: flex;
    align-items: center;
}

.telephone__icon {

    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contacts__mail {
    position: relative;
    display: flex;
    align-items: center;
}

.mail__icon {
    margin-right: 10px;
    width: 12px;
    height: 12px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer__copyright {
    width: 100%;

    background-color: #465EA8;
}

.copyright {

}

.copyright__text {
    margin: 0;
    padding: 15px 0;

    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

@import "./__contacts/footer__contacts.scss";