.card__title_decorative-line {
    position: relative;
    padding-bottom: 16px;
}

.card__title_decorative-line::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #84C9EC;
}