.card__description {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab";
    font-size: 14px;
    line-height: 18px;
    color: $card_text_color;
}

@media screen and (max-width: $tableWidth) {
    .card__description {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: $phoneWidth) {
    .card__description {
        font-size: 12px;
        line-height: 16px;
    }
}