.site-navigation {
    display: flex;
    align-items: center;

    margin-top: 15px;

    width: 100%;
    height: 50px;

    background: linear-gradient(180deg, #FFFFFF 0%, #F8FBFF 45.83%, #D0DEF0 100%);
}

@import "./__list/site-navigation__list.scss";
@import "./__item/site-navigation__item.scss";
@import "./__link/site-navigation__link.scss";
