.icon_menu {
    width: 30px;
    height: 30px;
    transition: .3s;
}

.icon_menu_closed {
    background-image: url("/assets/svg/mobile-menu_closed.svg");
}

.icon_menu_open {
    background-image: url("/assets/svg/mobile-menu_open.svg");
}