.icon_menu {
    width: 30px;
    height: 30px;
}

.icon_menu_closed {
    background-image: url("../../../../assets/png/mobile-menu_closed.png");
}

.icon_menu_open {
    background-image: url("../../../../assets/png/mobile-menu_open.png");
}