.card {}

@import "./__title/card__title.scss";
@import "./__description/card__description.scss";
@import "./__icon/card__icon.scss";
@import "./__image/card__image.scss";
@import "./__date/card__date.scss";
@import "./__header/card__header.scss";
@import "./__body/card__body.scss";