.news__content {
    width: 100%;
    padding: 40px 110px;
  
    box-shadow: 0px 9px 17px -2px #DDDDDD;
    border-top: none;
}
  
@media screen and (max-width: $desktopWidth) {
    .news__content {
        padding: 40px 80px;
    }
}

@media screen and (max-width: $smDesktopWidth) {
    .news__content {
        padding: 40px 20px;
    }
}

@media screen and (max-width: $tableWidth ) {
    .news__content {
        padding: 40px 50px;
    }
}


