.news__title {
    margin-top: 80px;
    margin-bottom: 90px;
}

@media screen and (max-width: $desktopWidth) {
    .news__title {
        margin-top: 80px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: $smDesktopWidth) {
    .news__title {
        margin-top: 45px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tableWidth) {
    .news__title {
        margin-top: -25px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: $phoneWidth) {
    .news__title {
        margin-top: 25px;
        margin-bottom: 10px;
    }
}