.news__title {
    margin-bottom: 90px;
}

@media screen and (max-width: $desktopWidth) {
    .news__title {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: $smDesktopWidth) {
    .news__title {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: $tableWidth ) {
    .news__title {
        margin-bottom: 0;
    }
}