.preview__slider {
  width: 100%;
}

.slider {

  &__content {
    position: relative;
    width: 100%;
  }
  &__item {
    width: 100%;
    img {
      min-width: 100%;
    }
  }
  .slider__item.slick-slide{
    min-height: auto;
  }
  .slick-arrow{ 
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 50px;
    height: 80px;
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    background-image: url("../img/back.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    border: none;
    outline: none;
    border-radius: 3px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
  /* Стрелка влево */
  .slick-arrow.slick-prev{
    left: 0;
    transform: translateY(-50%);
  }
  /* Стрелка вправо */
  .slick-arrow.slick-next{
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }
  /* Стрелка не активная */
  .slick-arrow.slick-disabled{
    opacity: 0.2;
  }
  /* Точки (булиты) */
  .slick-dots{
    position: absolute;
    bottom: 35px;
    right: -50%;
    transform: translate(50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
  }
  .slick-dots li{
    list-style: none;
    margin: 0 4px;
    opacity: 0.6;

    &:hover {
      opacity: 0.8;
    }
  }
  /* Активная точка */
  .slick-dots li button{
    color: #eee;
    font-size: 0;
    width: 20px;
    height: 20px;
    background-color: #303136;
    border-radius: 3rem;
    border: 1px solid darken($color: #303136, $amount: 5%);
    outline: none;
  }
  
  .slick-dots li.slick-active button{
    background-color: #eeeeee;
    border: none;
    opacity: 0.5;
  }
}
