.preview__slider {
    position: relative;
    width: 100%;
}

.preview__text {
    position: relative;
    width: 35%;
    font-size: 18px;
    line-height: 134.27%;
    color: #FFFFFF;
}

.preview__title {
    width: 50%;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    color: #FFFFFF;
    text-indent: 40px;
}

.preview__title::before {
    content: "";
    position: absolute;
    z-index: 15;
    left: 10px;
    width: 7px;
    height: 45px;
    transform: skew(-20deg);
    background-color: #36A9E1;
}

.preview__title::after {
    content: "";
    position: absolute;
    z-index: 15;
    width: 7px;
    height: 45px;
    transform: skew(-20deg);
    background-color: #36A9E1;
}

.slider {}

.slider__content {
    display: flex;
    position: relative;
    width: 100%;
}

.slider__item {
    height: 650px;
    width: 100%;
}

.slider__img {
    position: absolute;
    height: 650px;
    width: 100%;
    background-color: blue;
    background-image: url("../../../assets/img/baner_1.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

.slider__img img {
    max-width: 100%;
}

.slider__text {
    width: 100%;
    transform: translateY(60%);
}

.slider__item.slick-slide {
    min-height: auto;
}

.slick-arrow {
    position: absolute;
    bottom: 5%;
    z-index: 10;
    width: 14px;
    height: 22px;
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}


/* Стрелка влево */

.slick-arrow.slick-prev {
    background-image: url("../../../assets/svg/arrow_back.svg");
    left: 20%;
}


/* Стрелка вправо */

.slick-arrow.slick-next {
    background-image: url("../../../assets/svg/arrow_next.svg");
    right: 60%;
}


/* Стрелка не активная */

.slick-arrow.slick-disabled {
    opacity: 0.2;
}


/* Точки (булиты) */

.slick-dots {
    position: absolute;
    bottom: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.slick-dots li {
    list-style: none;
    margin: 0 10px;
}


/* Активная точка */

.slick-dots li button {
    font-size: 0;
    width: 40px;
    height: 6px;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background-color: #ffffff;
    border: none;
}

@media screen and (max-width: $desktopWidth) {
    .slider__text {
        width: 100%;
        transform: translateY(60%);
    }
    .slider__item {
        height: 650px;
    }
    .slider__img {
        height: 650px;
        background-size: contain;
    }
    .preview__text {
        width: 40%;
        font-size: 16px;
        line-height: 134.27%;
    }
    .preview__title {
        width: 55%;
        font-size: 34px;
        line-height: 50px;
    }
    .preview__title::before {
        top: 30px;
        left: 10px;
        width: 5px;
        height: 34px;
    }
    .preview__title::after {
        bottom: 30px;
        width: 5px;
        height: 34px;
    }
    .slick-arrow.slick-prev {
        left: 15%;
    }
    .slick-arrow.slick-next {
        right: 55%;
    }
}

@media screen and (max-width: $smDesktopWidth) {
    .slider__text {
        width: 100%;
        transform: translateY(40%);
    }
    .slider__item {
        height: 470px;
    }
    .slider__img {
        height: 470px;
    }
    .preview__text {
        width: 40%;
        font-size: 14px;
        line-height: 134.27%;
    }
    .preview__title {
        width: 55%;
        font-size: 28px;
        line-height: 35px;
    }
    .preview__title::before {
        top: 23px;
        left: 10px;
        width: 3px;
        height: 25px;
    }
    .preview__title::after {
        bottom: 23px;
        width: 3px;
        height: 25px;
    }
    .slick-dots {
        left: 50%;
    }
    .slick-arrow.slick-prev {
        left: 10%;
    }
    .slick-arrow.slick-next {
        right: 10%;
    }
}

@media screen and (max-width: $tableWidth) {
    .slider__text {
        width: 100%;
        transform: translateY(60%);
    }
    .preview__text {
        width: 40%;
        font-size: 14px;
        line-height: 134.27%;
    }
    .preview__title {
        width: 100%;
        font-size: 28px;
        line-height: 35px;
    }
    .slider__item {
        height: 370px;
    }
    .slider__img {
        height: 370px;
    }
    .preview__text {
        width: 65%;
        font-size: 12px;
        line-height: 134.27%;
    }
    .preview__title {
        width: 75%;
        font-size: 20px;
        line-height: 25px;
        text-indent: 25px;
    }
    .preview__title::before {
        top: 16px;
        left: 8px;
        width: 3px;
        height: 18px;
    }
    .preview__title::after {
        bottom: 18px;
        width: 3px;
        height: 18px;
    }
    .slick-arrow.slick-prev {
        left: 5%;
    }
    .slick-arrow.slick-next {
        right: 5%;
    }
}

@media screen and (max-width: $phoneWidth) {
    .slider__text {
        width: 100%;
        transform: translateY(50%);
    }
    .preview__text {
        width: 100%;
        font-size: 12px;
        line-height: 134.27%;
    }
    .preview__title {
        width: 100%;
        font-size: 20px;
        line-height: 25px;
        text-indent: 25px;
    }
    .slick-arrow.slick-prev {
        left: 5%;
    }
    .slick-arrow.slick-next {
        right: 5%;
    }
}