.site-navigation__toggle {
    display: none;
}

@media screen and (max-width: $tableWidth) {
    .site-navigation__toggle {
        position: absolute;
        z-index: 10;
        top: 7;
        right: 0;
        display: block;
        margin: 0;
        padding: 0;
        width: 38px;
        height: 38px;
        border: none;
        outline: none;
        background-color: inherit;
    }
}

@media screen and (max-width: $phoneWidth) {
    .site-navigation__toggle {
        top: 1px;
    }
}