.news__card {
    height: 450px;
    padding-bottom: 15px;
    border: 1px solid #DDDDDD;
    transition: .3s;
    cursor: pointer;
}

.news__card:hover {
    box-shadow: 0px 3px 13px -2px #DDDDDD;
}

.news__card:active {
    box-shadow: 0px 3px 13px -2px #cfcfcf;
    transform: scale(0.99);
}

.news__card .card__image::before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 7px;
    background-color: #36A9E1;
    transition: 0.3s;
    transform: translateX(-100%);
}

.news__card:hover .card__image::before {
    transition: .3s;
    transform: translateX(0);
}

@media screen and (max-width: $smDesktopWidth) {
    .news__card {
        height: auto;
    }
}