.news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: $tableWidth) {
    .news__list {
        flex-direction: column;
        justify-content: center;
    }
}
