.site-navigation__link {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #415276;
    transition: 0.3s;
}

.site-navigation__item:hover .site-navigation__link,
.site-navigation__item:hover .site-navigation__link {
    color: #465EA8;
    opacity: 0.8;
}

.site-navigation__item:active .site-navigation__link,
.site-navigation__item:active .site-navigation__link {
    color: #465EA8;
    opacity: 1;
}