.advantages__content {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding-bottom: 215px;
    width: 85%;
    transition: 0.3s;
}

@media screen and (max-width: $desktopWidth) {
    .advantages__content {
        width: 100%;
    }
}

@media screen and (max-width: $smDesktopWidth) {
    .advantages__content {
        width: 100%;
    }
}

@media screen and (max-width: $tableWidth) {
    .advantages__content {
        padding-top: 58px;
        padding-bottom: 135px;
        width: 85%;
    }
}

@media screen and (max-width: $phoneWidth) {
    .advantages__content {
        width: 100%;
        padding-top: 22px;
        padding-bottom: 70px;
    }
}