.search {
    position: relative;

    display: flex;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;

    overflow: hidden;
}

@media screen and (max-width: $smDesktopWidth) {
    .search {
        margin-left: auto;
    }
}

@media screen and (max-width: $tableWidth ) {
    .search {
        margin: 15px 0;

        order: 2;
        width: 100%;
    }
}

@import "./__input/search__input.scss";
@import "./__button/search__button.scss";
@import "./__icon/search__icon.scss";