.advantages {
    position: relative;
    height: 760px; // временно
}

.advantages__title {
    margin-bottom: 40px;
}

.advantages__envelope {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 760px;
    background-image: url("../../../assets/svg/envelope.svg");
    background-position: 50% 18%;
    background-repeat: no-repeat;
    background-size: 67%;
}

.advantages__content {

}

.advantages__list {
    display: flex;
    flex-basis: 33%;
    width: 100%;
}

.advantages__item {
    width: 180px;
}

.advantages__card {
    position: relative;
}

.advantages__icon {
    position: absolute;
    top: 0;
    left: -80px;

    width: 50px;
    height: 50px;

    background-color: red;
}

