.advantages {
    position: relative;
}


@import "./__card/advantages__card.scss";
@import "./__content/advantages__content.scss";
@import "./__envelope/advantages__envelope.scss";
@import "./__item/advantages__item.scss";
@import "./__list/advantages__list.scss";
@import "./__title/advantages__title.scss";
@import "./__icon/advantages__icon.scss";