.advantages {
    position: relative;
    height: 960px; // временно
}

.advantages__title {
    margin-bottom: 150px;
}

.advantages__envelope {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 960px;
    background-image: url("../../../assets/svg/envelope.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 67%;
}

.advantages__content {
    margin: 0 auto;
    width: 80%;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 33%;

}

.advantages__item {
    padding-bottom: 70px;
    padding-left: 50px;
    width: 280px;
}

.advantages__card {
    position: relative;
}

