// Font
$mainFont                : 'Roboto Condensed', sans-serif;;

// Size
$mainFontColor           : #415276;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;