// Row
$row-xl: 1240px;
$row-ls: 920px;
$row-md: 740px;
$row-sm: 440px;
$row-vsm: 290px;
// Media
$desktopWidth: 1440px;
$smDesktopWidth: 1024px;
$tableWidth: 770px;
// $smTableWidth            : 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
;