.site-navigation__item_decorative-strip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-70deg);
    display: block;
    width: 14px;
    border-bottom: 1px solid #36A9E1;
}