.card__title {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $card-text_color;
}

@import "./_decorative-line/card__title_decorative-line.scss";