.card__title {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $card-text_color;
}

@media screen and (max-width: $tableWidth) {
    .card__title {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: $phoneWidth) {
    .card__title {
        font-size: 12px;
        line-height: 16px;
    }
}


@import "./_decorative-line/card__title_decorative-line.scss";