.card__title {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: $card-text_color;
}

.card__title_overflow_hidden {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: $smDesktopWidth) {
    .card__title {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: $tableWidth) {
    .card__title {
        width: 100%;
        font-size: 10px;
        line-height: 12px;
    }
}

@media screen and (max-width: $phoneWidth) {
    .card__title {
        font-size: 10px;
        line-height: 12px;
    }
}

@import "./_decorative-line/card__title_decorative-line.scss";