.card__title {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $card-text_color;
}